* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
}
.sidebar {
  background-color: #1992d2;
  flex: 1;
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dashboard-image {
  width: 3.5rem;
  filter: invert();

}
.sidebar-icon {
  width: 1.7rem;
  filter: invert();
}
.link {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 2rem;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
}
.settings {
  margin-top: 3rem;
}
.main {
  flex: 4;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar img {
  width: 1.5rem;
  margin-right: 0.8rem;
}
.account-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.search-bar input {
  border: none;
  background-color: #e0e8f1;
  border-radius: 1rem;
  width: 50rem;
  height: 2.2rem;
  padding-left: 1.5rem;
}
.notif {
  width: 1.5rem;
}
.pfp {
  border-radius: 50%;
  width: 2.5rem;
}
.create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem
}
.profile {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 1rem;
  margin-left: 2rem;
}
.profile img {
  border-radius: 50%;
  width: 4rem;
}
.mini {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
.buttons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}
button{
  background-color: #1992d2;
  border: none;
  color: white;
  width: 8rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.1rem;
}
button:hover {
  background-color: #2381b4;
}

button:active {
  background-color: #2381b4;
  transform: translateY(2px);
}

.top-dash {
  position: relative;
  padding-bottom: 1rem;
  box-shadow: 0 5px 5px 2px rgb(0 0 0 / 10%);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  background-color: #e1e9f1;
  gap: 1rem;
  height: 100vh;
  padding: 2rem;
}
.project-container {
  display: flex;
  grid-area: 1 / 1 / 3 / 3;
  flex-direction: column;
}
.project-container h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  flex-shrink: 0;
  gap: 2rem;
}
.project {
  background-color: white;
  border-radius: 0.7rem;
  padding: 1rem;
  padding-left: 0.8rem;
  border-left: 0.7rem solid #eeb528;
  display: grid;
}
.project p {
  color: #505050;
}
.project-images {
  display: grid;
  grid-auto-flow: column;
  place-content: end;
  gap: 1rem;
}
.project-images img{
  width: 2rem;
}
.announcements-container h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.announcements-container {
  grid-area: 1 / 3;
  display: flex;
  flex-direction: column;
}
.announcements-container div {
  padding: 1rem;
  background-color: white;
  border-radius: 0.7rem;
  display: grid;
  flex-grow: 1;
}
.trending {
  grid-area: 2 / 3;
}
.a1, .a2 {
  border-bottom: 2px solid #505050;
}
.announcements-container p {
  color: #505050;
}
.a2, .a3 {
  margin-top: 2rem;
}
.announcements-container h4 {
  margin-bottom: 0.2rem;
}
.trending-container img {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.trending-container h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.trending-container {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
}
.trending-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.trending {
  padding: 1rem;
  background-color: white;
  border-radius: 0.7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.trending div {
  display: flex;
}
.trending-user h5 {
  font-size: 1rem;
}
.trending-user p {
  font-size: 0.9rem;
  color: #505050;
}